nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

nav img {
  width: 50%;
  max-width: 300px;
}

nav a {
  color: white;
  background: rgba(255, 0, 0, 0.63);
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
}

nav a:hover {
  background: rgba(255, 0, 0, 0.89);
}

nav a.active {
  background-color: black;
}

.navigation-container ul {
  display: flex;
  gap: 5px;
}
